p {
  font-size: 15px;
  font-family: sans-serif;
  color: green;
}

p:hover {
  transition-duration:3s;
  font-size:20px;
  color:red;
}

a:hover {
  color: black;
}

a {
  color:blue;
}

h2 {
  text-align: center;
}
